<div class="card">
    <div class="edit-button-container">
        <button class="btn btn-success">
            <i class="fas fa-edit"></i>
        </button>
    </div>

    <div class="card-body">
        <div class="header-container mb-4 position-relative">
            <div class="divider">&nbsp;</div>
            <h2 class="card-title mb-0 text-underline text-capitalized">
                {{equipmentDetails.name}}
            </h2>
        </div>
        <div class="equipment-container row justify-content-between">
            <div class="equipment-details-container col-12 col-md-6">
                <h5><strong>Specifications: </strong> </h5>
                <p>{{equipmentDetails.specs}}</p>

                <h5><strong>Purchase Date: </strong> </h5>
                <p>{{equipmentDetails.purchase_date.toDate()  | date:'longDate'}}</p>

                <h5><strong>Office Assigned: </strong> </h5>
                <p>{{equipmentDetails.office_name}}</p>

                <h5><strong>Order Number: </strong> </h5>
                <p>{{equipmentDetails.id}}</p>

                <h5><strong>QR Code: </strong> </h5>
                <ngx-qrcode
                  [elementType]="elementType"
                  [errorCorrectionLevel]="correctionLevel"
                  [value]="value"
                  cssClass="qr-class"
                ></ngx-qrcode>

            </div>
            <div class="equipment-image-container col-12 col-md-6 text-right">
                <div class="image-wrapper">
                    <img src="{{equipmentDetails.photo_url}}" alt="" class="img-responsive">
                </div>
                <input
                    type="file"
                    id="inputFile"
                    (change)="handleUploadFile($event)"
                    style="visibility: hidden;"
                >
                <button class="change-image-btn" (click)="handleInputFile()">Change photo</button>
            </div>
        </div>
    </div>
</div>